<form >
   <h4> Login</h4>
    
    <div class="form-group">
        
        
            <input name="Email" type="text" id="Email" placeholder="Email" required/>
        
    </div>
    <div class="form-group">
        
        
            <input name="Password" id="Password" type="password" required placeholder="Password"/>
        
    </div>
    
    <div class="form-group">
        
            <button ng-click="uc.login()">Log in</button>
        
    </div>
    <p>
        <a asp-action="Register" asp-controller="Account">Register as a new user?</a>
    </p>
    
</form>